* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282828
}

.dark {
  --primary-color: rgb(40, 40, 40);
  --secondary-color: rgb(233, 219, 178);
  --color1: rgb(104, 158, 106);
  --color2: rgb(74, 133, 136);
  --color3: rgb(221, 154, 32);
  --color4: rgb(200, 36, 29);
}


#bar-one {
  height: 50px;
  width: 100%;
  background-color: var(--color1);
}
#bar-two {
  height: 50px;
  width: 100%;
  background-color: var(--color2);
}
#bar-three {
  height: 50px;
  width: 100%;
  background-color: var(--color3);
}
#bar-four {
  height: 50px;
  width: 100%;
  background-color: var(--color4);
}
